<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
        {% include header.html %}
        <div class="wrapper">
            <div class="vertical-nav" id="max-page-height">
                <li><a id="page-link" class="page-link" href="{{ site.url }}">Introduction</a></li>
				{% assign pages = site.common | sort:"weight" %}
                {% for page in pages %}
                <li><a id="page-link" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endfor %}

                <!--<h1>Common</h1>
                {% for page in site.common %}
                <li><a id="page-link" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>     
                {% endfor %}-->

                <br><br>

                <h1>Engine</h1>
                {% for page in site.engine %}
                <li><a id="page-link" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endfor %}

                <h1>Renderer</h1>
                {% for page in site.renderer %}
                <li><a id="page-link" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endfor %}
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </div>
            </div>

			<script>
				// pre load
				var vnav = document.getElementById("max-page-height");
				var new_height = $( document ).height() - 50;
				vnav.style.height = String(new_height) + "px";
				
				// after load
				window.onload = function () { 
					var vnav = document.getElementById("max-page-height");
					var new_height = $( document ).height() - 50;
					vnav.style.height = String(new_height) + "px";
				}
			</script>
            <!--{% include footer.html %}-->
        </div>
  </body>
</html>
